.dashboard {
    margin-left: 0.5%;
}

.option-div {
    width: 15%;
    float: left;
}

.container-div {
    margin-left: 3%;
    width: 75%;
    float: left;
}

ul {
    list-style-type: none;
    margin-top: 30%;
}

li {
    margin-top: 15%;
    font-size: 18px;
    font-weight: bolder;
    width: 60%;
    border-bottom: solid
}

li:hover {
    border-bottom: none;
    color: red;
}